<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원 수정</title>
</head>
<body>
<h1>회원 수정</h1>

<form th:action="@{/admin/members/edit}" th:object="${member}" method="post">
  <input type="hidden" th:field="*{id}"/>
  <label>학번:</label>
  <input type="text" th:field="*{studentId}" required/><br/>
  <label>이름:</label>
  <input type="text" th:field="*{name}" required/><br/>
  <label>비밀번호:</label>
  <input type="password" th:field="*{password}" required/><br/>
  <button type="submit">수정</button>
</form>

<a href="/admin/members"><button type="button">회원 목록으로</button></a>
</body>
</html>

